
.homeContainer {
  background-color: #f2f2f2;
  position: absolute;
  height: 100%;
  width: 100%;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBody {
  background-color:rgba(140,157,187,0.68) ;
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


